<a href="https://colab.research.google.com/github/po1sonrom/netology_feature_engineering/blob/master/Logistic_regression_and_SVM_hmwr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Домашнее задание "Классификация: Логистическая регрессия и SVM"**

In [31]:
import pandas as pd
import numpy as np
from sklearn import svm
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LogisticRegression

Импортируем базу данных

In [33]:
data = pd.read_csv( 'adult.csv' )
data.head()

   age  workclass  fnlwgt  ... hours-per-week  native-country income
0   25    Private  226802  ...             40   United-States  <=50K
1   38    Private   89814  ...             50   United-States  <=50K
2   28  Local-gov  336951  ...             40   United-States   >50K
3   44    Private  160323  ...             40   United-States   >50K
4   18          ?  103497  ...             30   United-States  <=50K

[5 rows x 15 columns]

Проверяем базу

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

Делаем замену вопросительного знака в строке "occupation" на None

In [37]:
data.replace(['?'], [None], inplace=True)
data.head()

   age  workclass  fnlwgt  ... hours-per-week  native-country income
0   25    Private  226802  ...             40   United-States  <=50K
1   38    Private   89814  ...             50   United-States  <=50K
2   28  Local-gov  336951  ...             40   United-States   >50K
3   44    Private  160323  ...             40   United-States   >50K
4   18       None  103497  ...             30   United-States  <=50K

[5 rows x 15 columns]

Удаляем пустые значения

In [38]:
data.dropna(inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45222 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              45222 non-null  int64
 1   workclass        45222 non-null  object
 2   fnlwgt           45222 non-null  int64
 3   education        45222 non-null  object
 4   educational-num  45222 non-null  int64
 5   marital-status   45222 non-null  object
 6   occupation       45222 non-null  object
 7   relationship     45222 non-null  object
 8   race             45222 non-null  object
 9   gender           45222 non-null  object
 10  capital-gain     45222 non-null  int64
 11  capital-loss     45222 non-null  int64
 12  hours-per-week   45222 non-null  int64
 13  native-country   45222 non-null  object
 14  income           45222 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.5+ MB

Переводим категориальные признаки столбца income в числовые

In [39]:
le = LabelEncoder()
le.fit( data['income'] )

LabelEncoder()

С помощью атрибута classes_ задаем метки для каждого класса

In [40]:
le.classes_

array(['<=50K', '>50K'], dtype=object)

В переменную  X записываем обновленный столбец income и проверяем

In [41]:
X = pd.Series( data = le.transform( data['income'] ) )
X.head()

0    0
1    0
2    1
3    1
4    0
dtype: int64

Выбираем некоторые признаки. Столбец income теперь у нас является категориальным.

In [42]:
selectedColumns = data[ [ 'age', 'workclass', 'education', 'marital-status' , 'occupation' , 'relationship', 'race', 'gender'] ]
Y = pd.get_dummies( selectedColumns, columns = ['workclass', 'education', 'marital-status' , 'occupation' , 'relationship', 'race', 'gender'] )
Y.head()

   age  workclass_Federal-gov  ...  gender_Female  gender_Male
0   25                      0  ...              0            1
1   38                      0  ...              0            1
2   28                      0  ...              0            1
3   44                      0  ...              0            1
5   34                      0  ...              0            1

[5 rows x 58 columns]

Делим данные с  помощью train_test_split

In [43]:
Y_train, Y_val, X_train, X_val = train_test_split(Y, X, test_size=0.2, stratify=X)

Делаем модель логистической регрессии

In [44]:
model = LogisticRegression()

In [46]:
model.fit( Y_train, X_train )
predictions = model.predict_proba( Y )

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [47]:
model.score(Y_val, X_val)

0.8255389718076285

In [48]:
predictions[:5]

array([[0.99742641, 0.00257359],
       [0.83043561, 0.16956439],
       [0.53371361, 0.46628639],
       [0.72373024, 0.27626976],
       [0.99303887, 0.00696113]])

Делаем SVM

In [49]:
lin_clf = svm.LinearSVC()
lin_clf.fit(Y_train, X_train)

/usr/local/lib/python3.6/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [50]:
lin_clf.score(Y_val, X_val)

0.7920398009950249